<?xml version="1.0" encoding="UTF-8"?>
<module sdkVersion="3.5">
    <!--The "id" identifies your plugin globally. Must be unique, must contain only alphanumeric characters, underlines and dots and must contain at least 5 characters and a maximum of 40. Once set the ID, you should not change it;)-->
    <id>GAMBIRRA_INVENTARIO_UNICO</id>
    <!--"version" is the version of your plugin. When you release a new version of your module, change here =)-->
    <version>0.1</version>
    <name>testando inventario</name>
    <description>Um teste de inventario</description>
    <author>Your name here</author>
    <site>srv.mestrewill.tk</site>
</module> 
